.wrapper {
    @apply w-full bg-primary flex flex-row justify-center items-center sticky;
}

.container {
    @apply w-[980px] flex flex-row justify-between items-center px-1;
}

.nav-list {
    @apply flex flex-row gap-1;
}

.item {
    @apply border-[1px] p-3 bg-primary border-primary hover:bg-white hover:border-white text-white text-base hover:text-primary;
}

@media screen and (max-width: 990px) {
    .wrapper {
        @apply hidden;
    }
}

.item-active {
    @apply bg-white border-white text-primary;
}